In [7]:
import pandas as pd
import numpy as np

import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import re
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

In [8]:
depressive_tweets_df = pd.read_csv('depression/depressive_unigram_tweets.csv')

C:\Users\MANASI\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
depressive_tweets_df.head()

,Unnamed: 0,id,time,tweet,hashtags,cashtags
0,0,1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1,1.15135E+18,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,2,1.15135E+18,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,3,1.15135E+18,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,4,1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]

In [10]:
depression_tweets_df = pd.read_csv('depression/depressive_unigram_tweets.csv')

C:\Users\MANASI\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [11]:
depression_tweets_df.head()

,Unnamed: 0,id,time,tweet,hashtags,cashtags
0,0,1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1,1.15135E+18,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,2,1.15135E+18,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,3,1.15135E+18,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,4,1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]

In [14]:
#depression_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [15]:
depression_tweets_df.head()

,Unnamed: 0,id,time,tweet,hashtags,cashtags
0,0,1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1,1.15135E+18,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,2,1.15135E+18,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,3,1.15135E+18,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,4,1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]

In [16]:
depressed_tweets_df = pd.read_csv('depressed/tweets.csv')

In [17]:
depressed_tweets_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,likes_count,hashtags,cashtags,link,retweet,quote_url,video,user_rt_id,near,geo
0,1151315262748205057,1151313086525116421,1563329923000,2019-07-16,19:18:43,PDT,930813312786366464,keytodepress,Cupid,NaN,...,0,[],[],https://twitter.com/KeytoDepress/status/115131...,NaN,NaN,0,NaN,NaN,NaN
1,1151315254615400448,1151314716091985920,1563329921000,2019-07-16,19:18:41,PDT,771371705063370752,_ron_247,MCKAY SEASON SZN (52-39),NaN,...,0,[],[],https://twitter.com/_ron_247/status/1151315254...,NaN,NaN,0,NaN,NaN,NaN
2,1151315222692429825,1151315222692429825,1563329914000,2019-07-16,19:18:34,PDT,1020503873369194496,jan550n,elizabeth,NaN,...,0,[],[],https://twitter.com/jan550n/status/11513152226...,NaN,NaN,0,NaN,NaN,NaN
3,1151315218011549696,1151315218011549696,1563329913000,2019-07-16,19:18:33,PDT,2812237658,ran_engbot,Ran Yakumo,NaN,...,0,[],[],https://twitter.com/ran_engbot/status/11513152...,NaN,NaN,0,NaN,NaN,NaN
4,1151315209413386240,1151315209413386240,1563329910000,2019-07-16,19:18:30,PDT,4833251469,sasstelligence,"Stressed, Depressed Espressos",NaN,...,1,[],[],https://twitter.com/Sasstelligence/status/1151...,NaN,NaN,0,NaN,NaN,NaN

In [18]:
depressed_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [19]:
depressed_tweets_df.head()

,id,time,tweet,hashtags,cashtags
0,1151315262748205057,19:18:43,Listen!! IM SORRY!! With her elder spirits g...,[],[]
1,1151315254615400448,19:18:41,Im so pissed and depressed at the same time,[],[]
2,1151315222692429825,19:18:34,"I’m just a hot mess that’s stressed, depressed...",[],[]
3,1151315218011549696,19:18:33,Chen's probably depressed too since she's no l...,[],[]
4,1151315209413386240,19:18:30,"Do you like it when I shake it for ya, daddy? ...",[],[]

In [20]:
hopeless_tweets_df = pd.read_csv('hopeless/tweets.csv')

In [21]:
hopeless_tweets_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,likes_count,hashtags,cashtags,link,retweet,quote_url,video,user_rt_id,near,geo
0,1151526536471728134,1151526536471728134,1563380295000,2019-07-17,09:18:15,PDT,1070085811650117633,greesybot,greesybot,NaN,...,0,[],[],https://twitter.com/greesybot/status/115152653...,NaN,NaN,0,NaN,NaN,NaN
1,1151526442922139649,1151524002457882624,1563380272000,2019-07-17,09:17:52,PDT,853583752483807232,umutsuz_vakayim,Hopeless,NaN,...,0,[],[],https://twitter.com/umutsuz_vakayim/status/115...,NaN,NaN,0,NaN,NaN,NaN
2,1151526396210110464,1151526396210110464,1563380261000,2019-07-17,09:17:41,PDT,1120246244075626496,hopeless95,𐂂,NaN,...,1,[],[],https://twitter.com/hopeless95/status/11515263...,NaN,NaN,0,NaN,NaN,NaN
3,1151526283890683904,1151525753990725632,1563380235000,2019-07-17,09:17:15,PDT,1147135129489301505,hopehopexx,Hopeless,NaN,...,0,[],[],https://twitter.com/Hopehopexx/status/11515262...,NaN,NaN,0,NaN,NaN,NaN
4,1151526267738628097,1151526267738628097,1563380231000,2019-07-17,09:17:11,PDT,1120246244075626496,hopeless95,𐂂,NaN,...,1,[],[],https://twitter.com/hopeless95/status/11515262...,NaN,NaN,0,NaN,NaN,NaN

In [22]:
hopeless_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [23]:
hopeless_tweets_df.head()

,id,time,tweet,hashtags,cashtags
0,1151526536471728134,09:18:15,"Hopeless, crazed, and dispossessed, I walked o...",[],[]
1,1151526442922139649,09:17:52,KAP haberini beklerken serSERİn olmuştuk,[],[]
2,1151526396210110464,09:17:41,17-july-2019. 🦉💛.,[],[]
3,1151526283890683904,09:17:15,เป็นไรสาวน้อย,[],[]
4,1151526267738628097,09:17:11,انا قاعده اعيش اسعد ايام حياتي💛.,[],[]

In [24]:
lonely_tweets_df = pd.read_csv('lonely/tweets.csv')

In [25]:
lonely_tweets_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,likes_count,hashtags,cashtags,link,retweet,quote_url,video,user_rt_id,near,geo
0,1152982582843326466,1152982582843326466,1563727443000,2019-07-21,09:44:03,PDT,1151002890573701120,monbebe93,제시카,NaN,...,0,[],[],https://twitter.com/monbebe93/status/115298258...,NaN,https://twitter.com/OI_IO999/status/1152978766...,0,NaN,NaN,NaN
1,1152982578741284865,1152916420587675648,1563727442000,2019-07-21,09:44:02,PDT,1065697539259854849,sugarplum_skz,lonely wolf,NaN,...,0,[],[],https://twitter.com/sugarplum_skz/status/11529...,NaN,NaN,0,NaN,NaN,NaN
2,1152982577181024259,1152976191781048322,1563727442000,2019-07-21,09:44:02,PDT,704212959950667776,lonely_walsh,Elizabeth,NaN,...,0,[],[],https://twitter.com/lonely_walsh/status/115298...,NaN,NaN,0,NaN,NaN,NaN
3,1152982576153239552,1152982576153239552,1563727442000,2019-07-21,09:44:02,PDT,284959188,lonelyoakradio,Lonely Oak radio,NaN,...,0,['#nowplaying'],[],https://twitter.com/LonelyOakRadio/status/1152...,NaN,NaN,0,NaN,NaN,NaN
4,1152982566263296000,1152982566263296000,1563727439000,2019-07-21,09:43:59,PDT,144328187,noelle_amor,YaYa🌹,NaN,...,0,[],[],https://twitter.com/Noelle_Amor/status/1152982...,NaN,NaN,0,NaN,NaN,NaN

In [26]:
lonely_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [27]:
lonely_tweets_df.head()

,id,time,tweet,hashtags,cashtags
0,1152982582843326466,09:44:03,i dont know why but he looks so lonely in this...,[],[]
1,1152982578741284865,09:44:02,Я после того как увидела их начала отращивать ...,[],[]
2,1152982577181024259,09:44:02,Even follow you on all social networks,[],[]
3,1152982576153239552,09:44:02,"#Nowplaying: Garmonsway, Gibbon and Harrington...",['#nowplaying'],[]
4,1152982566263296000,09:43:59,Laying in this hammock every Sunday alone is g...,[],[]

In [28]:
antidepressant_tweets_df = pd.read_csv('antidepressant/tweets.csv')

In [29]:
antidepressant_tweets_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,likes_count,hashtags,cashtags,link,retweet,quote_url,video,user_rt_id,near,geo
0,1152991919137538048,1152991908391739392,1563729669000,2019-07-21,10:21:09,PDT,794617098106441728,harlequimsy,Darnielle 🤦🏻‍♀️,NaN,...,0,[],[],https://twitter.com/harlequimsy/status/1152991...,NaN,NaN,0,NaN,NaN,NaN
1,1152991631722913793,1152991631722913793,1563729601000,2019-07-21,10:20:01,PDT,959487925992947714,aspiringapollo,Anthony,NaN,...,0,[],[],https://twitter.com/AspiringApollo/status/1152...,NaN,NaN,0,NaN,NaN,NaN
2,1152991531789406209,1152986023447732224,1563729577000,2019-07-21,10:19:37,PDT,2391838146,al_pal_22,brogram,NaN,...,0,[],[],https://twitter.com/al_pal_22/status/115299153...,NaN,NaN,0,NaN,NaN,NaN
3,1152991116733628416,1152991116733628416,1563729478000,2019-07-21,10:17:58,PDT,510205955,iceberged,Iceberg SelfHelp,NaN,...,0,"['#medication', '#antidepressants', '#eatingdi...",[],https://twitter.com/IcebergED/status/115299111...,NaN,NaN,0,NaN,NaN,NaN
4,1152990783420751872,1152862679452790785,1563729398000,2019-07-21,10:16:38,PDT,34530161,matchlessmarie,Amanda [matchless] Marie,NaN,...,1,[],[],https://twitter.com/MatchlessMarie/status/1152...,NaN,NaN,0,NaN,NaN,NaN

In [30]:
antidepressant_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [31]:
antidepressant_tweets_df.head()

,id,time,tweet,hashtags,cashtags
0,1152991919137538048,10:21:09,I hate that the antidepressants made me feel w...,[],[]
1,1152991631722913793,10:20:01,Your beliefs ultimately are manifested in your...,[],[]
2,1152991531789406209,10:19:37,I think current trends lead to a world where e...,[],[]
3,1152991116733628416,10:17:58,Anti-Depressants and Recovery https://www.mar...,"['#medication', '#antidepressants', '#eatingdi...",[]
4,1152990783420751872,10:16:38,Have you thought about getting a sleep study d...,[],[]

In [32]:
antidepressants_tweets_df = pd.read_csv('antidepressants/tweets.csv')

In [33]:
antidepressants_tweets_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,likes_count,hashtags,cashtags,link,retweet,quote_url,video,user_rt_id,near,geo
0,1152995178359218176,1152995178359218176,1563730446000,2019-07-21,10:34:06,PDT,1134809541818929152,neumnelo,🍓⚢,NaN,...,0,[],[],https://twitter.com/neumnelo/status/1152995178...,NaN,NaN,0,NaN,NaN,NaN
1,1152994945537576960,1152994945537576960,1563730391000,2019-07-21,10:33:11,PDT,709759485162598400,csevern5,C Severn,NaN,...,0,[],[],https://twitter.com/csevern5/status/1152994945...,NaN,NaN,0,NaN,NaN,NaN
2,1152994834359209985,1152994145700634625,1563730364000,2019-07-21,10:32:44,PDT,969718541703368704,healingapriori,A Kid That Knows Nothing,NaN,...,0,[],[],https://twitter.com/healingapriori/status/1152...,NaN,NaN,0,NaN,NaN,NaN
3,1152994452606033920,1152994452606033920,1563730273000,2019-07-21,10:31:13,PDT,864470942159953920,liferenewedjax,Life Renewed Counseling,NaN,...,0,[],[],https://twitter.com/liferenewedjax/status/1152...,NaN,NaN,0,NaN,NaN,NaN
4,1152994432188370949,1152994432188370949,1563730268000,2019-07-21,10:31:08,PDT,1029517541608108033,glitterfairy420,𝕵𝖊𝖓𝖓𝖎𝖋𝖊𝖗★,NaN,...,0,[],[],https://twitter.com/Glitterfairy420/status/115...,NaN,NaN,0,NaN,NaN,NaN

In [34]:
antidepressants_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [35]:
antidepressants_tweets_df.head()

,id,time,tweet,hashtags,cashtags
0,1152995178359218176,10:34:06,i can't think logically and all of shit i say ...,[],[]
1,1152994945537576960,10:33:11,Recently moved to Australia and was ASTOUNDED ...,[],[]
2,1152994834359209985,10:32:44,Maybe I should go back on my antidepressants. ...,[],[]
3,1152994452606033920,10:31:13,What It’s Like to Know You’ll Be on Antidepres...,[],[]
4,1152994432188370949,10:31:08,Do antidepressants work? :/,[],[]

In [36]:
suicide_tweets_df = pd.read_csv('suicide/tweets.csv')

In [37]:
suicide_tweets_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,likes_count,hashtags,cashtags,link,retweet,quote_url,video,user_rt_id,near,geo
0,1152996044604682241,1152996044604682241,1563730653000,2019-07-21,10:37:33,PDT,2958699552,imonlylj,Misunderśtøød x Mìdaś ㊗️️,NaN,...,0,[],[],https://twitter.com/ImonlyLj/status/1152996044...,NaN,NaN,0,NaN,NaN,NaN
1,1152995993148899329,1152995993148899329,1563730641000,2019-07-21,10:37:21,PDT,29907109,_kingneal,King.,NaN,...,0,[],[],https://twitter.com/_kingneal/status/115299599...,NaN,NaN,0,NaN,NaN,NaN
2,1152995985053900800,1152995985053900800,1563730639000,2019-07-21,10:37:19,PDT,1152971452846694401,ventingbroken,Venting (More people are broken than it seems),NaN,...,0,[],[],https://twitter.com/VentingBroken/status/11529...,NaN,NaN,0,NaN,NaN,NaN
3,1152995984642887683,1152995984642887683,1563730639000,2019-07-21,10:37:19,PDT,2561945708,awesome_thebest,Just me,NaN,...,0,[],[],https://twitter.com/awesome_thebest/status/115...,NaN,NaN,0,NaN,NaN,NaN
4,1152995955559620608,1152995955559620608,1563730632000,2019-07-21,10:37:12,PDT,891371293563596800,drmo7og,Dr.mo7og,NaN,...,0,"['#sam', '#suicide']",[],https://twitter.com/DrMo7oG/status/11529959555...,NaN,NaN,0,NaN,NaN,NaN

In [38]:
suicide_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)

In [39]:
suicide_tweets_df.head()

,id,time,tweet,hashtags,cashtags
0,1152996044604682241,10:37:33,Suicide Thoughts ....,[],[]
1,1152995993148899329,10:37:21,If I wake up as a white person in my next life...,[],[]
2,1152995985053900800,10:37:19,I fixed my bio (Cant add a banner because Twit...,[],[]
3,1152995984642887683,10:37:19,Weaponizign Suicide disturbs me a lot Cardi B ...,[],[]
4,1152995955559620608,10:37:12,#sam harcelé par ses camarades de classe se #s...,"['#sam', '#suicide']",[]

In [40]:
df_row_reindex = pd.concat([depression_tweets_df, hopeless_tweets_df, lonely_tweets_df, antidepressant_tweets_df, antidepressants_tweets_df, suicide_tweets_df], ignore_index=True)

df_row_reindex

,Unnamed: 0,id,time,tweet,hashtags,cashtags
0,0,1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1,1.15135E+18,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,2,1.15135E+18,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,3,1.15135E+18,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,4,1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]
...,...,...,...,...,...,...
225172,NaN,1152367589030391809,17:00:17,えっ？！オニィ結構なお歳……（今知った） 変な声でちゃった(笑),[],[]
225173,NaN,1152367565483761664,17:00:12,"#PhysicianFriday ""Let's empower doctors to tak...","['#physicianfriday', '#suicide', '#physicians'...",[]
225174,NaN,1152367519283367936,17:00:01,A spike in suicides among teenage boys in the ...,"['#aztrauma', '#traumatraining', '#suicide', '...",[]
225175,NaN,1152367516083204096,17:00:00,Need some support? Check out the following res...,[],[]
225176,NaN,1152367515978424321,17:00:00,You can improve the quality of life for a frie...,[],[]

In [41]:
df = df_row_reindex

In [42]:
depressive_twint_tweets_df = df_row_reindex
depressive_twint_tweets_df.head()

,Unnamed: 0,id,time,tweet,hashtags,cashtags
0,0,1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1,1.15135E+18,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,2,1.15135E+18,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,3,1.15135E+18,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,4,1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]

In [43]:
depressive_twint_tweets_df = df.drop_duplicates()

In [44]:
depressive_twint_tweets_df

,Unnamed: 0,id,time,tweet,hashtags,cashtags
0,0,1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1,1.15135E+18,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,2,1.15135E+18,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,3,1.15135E+18,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,4,1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]
...,...,...,...,...,...,...
225172,NaN,1152367589030391809,17:00:17,えっ？！オニィ結構なお歳……（今知った） 変な声でちゃった(笑),[],[]
225173,NaN,1152367565483761664,17:00:12,"#PhysicianFriday ""Let's empower doctors to tak...","['#physicianfriday', '#suicide', '#physicians'...",[]
225174,NaN,1152367519283367936,17:00:01,A spike in suicides among teenage boys in the ...,"['#aztrauma', '#traumatraining', '#suicide', '...",[]
225175,NaN,1152367516083204096,17:00:00,Need some support? Check out the following res...,[],[]
225176,NaN,1152367515978424321,17:00:00,You can improve the quality of life for a frie...,[],[]

In [45]:
export_csv = depressive_twint_tweets_df.to_csv(r'depressive_unigram_tweets_final.csv')